<?xml version="1.0" ?>
<robot name="pyr">
  <link name="a">
    <inertial>
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
      <mass value="1"/>
      <inertia
        ixx="1.0" ixy="0.0" ixz="0.0"
        iyy="1.0" iyz="0.0"
        izz="1.0"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="/home/matthias/catkin_ws/src/my_drone/urdf/pyr.dae"/>
      </geometry>
    </visual>
  </link>
</robot>
